<head>
    <meta charset="utf-8">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author-design" content="LB">
    <meta name="author-cms" content="CodedGuy">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    
    <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/application-1.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Lato:700,400,300">
    <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="{{ url_for('static', filename='js/libraries-1.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.0/bootstrap3-typeahead.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>